*{
	margin:0;
	padding:0;
}
a{
	cursor:pointer;
}
html{
	
	height:100%;
}
body {
	text-align:center;	
	overflow:-Scroll;
	overflow-y:auto;
	overflow:-Scroll;
	overflow-x:hidden;
	height:100%;
	padding:0;
}


/************************地图************************/
#minilayer { 
	overflow:hidden;
	position: absolute;
	z-index: 0;
	display:block;
	height: 100%;
	width: 100%;
}
#map-sketch {
	background: url(../img/Disney.jpg) no-repeat;
	width: 2225px;
	height:2487px;
	margin: 0;
	padding: 0px 0 0 0;
	position: relative;
	cursor: move;
	z-index:0;
}
#map-sketch a{
	text-decoration:none;
	color:black;
}
#map-sketch a:hover{
	color:black;
}
a.spot{
	position:absolute;
	background-color:rgba(199, 199, 199, 0.9);
	width:120px;
	height:80px;
	border-radius:15px;
	text-decoration:none;
	display:none;
}
.spot p{
	margin:0;
	font-size:20px;
	padding:25px 12px;
}


/************************用户头像、状态************************/
.user-friend{
	background:url(../img/bg-friend.png) no-repeat;
	position:absolute;
	width:320px;
	height:100px;
	z-index:2;
}
.user-ego{
	background:url(../img/bg-ego.png) no-repeat;
	position:absolute;
	width:320px;
	height:100px;
	z-index:2;
}
.user-stranger{
	background:url(../img/bg-stranger.png) no-repeat;
	position:absolute;
	width:320px;
	height:100px;
	z-index:2;
}
.avatar{
	float:left;
}
.avatar img{
	width:66px;
	height:66px;
	padding-top:7px;
	padding-left:9px;
}
.bubble{
	float:left;
	display:block;
	height:100px;
	width:240px;
}
.bubble img{
	width:80px;
}
.bubble-img{
	top:-20px;
}
.bubble-word{
	top:4px;
}
.bubble-word .tooltip-inner{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/************************景点标注************************/
.marker{
	position:absolute;
}
.marker .bubble .mb-img{
	width:250px;
	top:-36px;
	left:36px;
}
.marker .bubble .mb-img .tooltip-inner{
	height:80px;
	max-width:230px;
}
.marker .bubble .mb-img .tooltip-inner img{
	float:left;
}
.marker .bubble .mb-word{
	width:170px;
	top:-20px;
	left:36px;
}
.marker .bubble .mb-word .tooltip-inner{
	max-width:150px;
}
.bubble-name{
	display:inline-block;
	position:absolute;
	top:-48px;
	left:-38px;
	height:50px;
	width:125px;
}
.bubble-name .tooltip{

}
.bubble-name .top .tooltip-inner{
	background-color:#ffa325;
	width:105px;
}
.pin{
	float:left;
	width:50px;
}
#hgndcb{
	top:885px;
	left:1125px;
}
#mfqyzt{
	top:462px;
	left:479px
}
#zygc{
	top:975px;
	left:555px;
}
#hxsj{
	top:375px;
	left:1571px;
}
#mrsj{
	top:1102px;
	left:1930px;
}
#txsj{
	top:1500px;
	left:65px;
}
#mgxzdj{
	top:1901px;
	left:1123px;
}
#yzfc{
	top:1382px;
	left:2022px;
}
#gwgs{
	top:1436px;
	left:1735px;
}
#fkch{
	top:675px;
	left:1735px;
}

/************************进度条************************/
#progress{
	position:absolute;
	top:10px;
	width:80%;
	height:30px;
	margin-left:10%;
	margin-right:10%;
	border-radius:20px;
}
#progress p{
	position:absolute;
	margin-left:48.5%;
	font-size:23px;
	padding-top:2px;
}

/************************照相按钮************************/
#photo-button{
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:100;
}
#pub-bar-status{
	position:absolute;
	bottom:12px;
	right:12px;
	z-index:99;
}
#pub-bar-camera{
	position:absolute;
	bottom:12px;
	right:12px;
	z-index:99;
}
#pub-bar-gallery{
	position:absolute;
	bottom:12px;
	right:12px;
	z-index:99;
}
#pub-bar-footprint{
	position:absolute;
	bottom:12px;
	right:12px;
	z-index:99;
}


/************************状态发布页**************************
#pub-bar{
	font-size:19px;
	position:absolute;
	bottom:13px;
	right:13px;
	z-index:99;
	background-image:linear-gradient(#e9e9ea,#a6a8ac);
	width:230px;
	height:40px;
	border-radius:11px;
	padding-top:14px;
	padding-right:45px;
	display:none;
}
#pub-bar a{
	text-decoration:none;
	color:black;
}
#pub-bar a:visited{
	color:black;
}*/
#pub,#photo{
	width:100%;
	overflow:hidden;
}
#pub textarea,#photo textarea{
	overflow:hidden;
	resize:none;
	width:100%;
	height:100%;
	border:none;
	border-radius:0;
	margin:0;
}
.input{
	text-align:center;
	width:100%;
	position:absolute;
}
.input img{
	/*max-width:100px;
	max-height:100px;*/
	margin:0 auto;
}
/*********************分享功能*********************/
#jiathis{
	width:100%;
	position:absolute;
	bottom:0;
}
.count-word{
	height:25px;
	width:100%;
	padding-top:10px;
	padding-left:6px;
	border-top:solid 1px #cccccc
}
#jiathis2{
	width:100%;
	background-color:#cccccc;
	height:115px;
}


/*********************盖章效果*********************/
#badge{
	position: absolute;
	left: 59px;
	z-index: 1;
	display: none;
	width: 320px;
	height: 330px;
}

#star-fill{
	position: absolute;
	left: 112px;
	top: 56px;
	z-index: 2;
	display: none;
}
#star-twinkle{
	position: absolute;
	opacity: 1;
	left: 113px;
	top: 53px;
	width:95px;
	height: 95px;
	z-index: 3;
	display: none;
}
#bind{
	z-index: 0;
	width: 320px;
	height: 220px;
	display: none;
	position: absolute;
	top: 35px;
	left:0;
}
#box{
	border:0px solid red;
	position: fixed;
	width: 320px;
	height: 300px;
	display:none;
}

/************************地图切换***********************/
#switch-button{
	position:absolute;
	bottom:10px;
	left:48.5%;
	z-index:100;
}
#switch-list{
	position:absolute;
	top:90px;
	right:63px;
}

/**************************足迹************************/
.footprint{
	position:absolute;
	max-width:50px;
	max-height:50px;
}

/************************定位到我***********************/
#pinpoint-button{
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:100;
}
#popupPanel{
	width: 250px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#popupPanel .ui-btn {
	margin: 2em 15px
}
/***********************新消息提醒**********************/
#msg-img{
	position:absolute;
	top:0;
	right:-100px;
}
/************************滑动区域***********************/
.slide{
	position:absolute;
	height:100%;
	width:5px;
	top:0;
	border:1px solid;
	z-index:10;
}
#slide-left{
	left:0;
}
#slide-right{
	right:0;
}

/************************遮罩区域***********************/
#cover{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	right:-100%;
	background-color:rgba(0, 0, 0, 0.6);
	z-index:1000;
}

/************************全景地图***********************/
#map-panorama{
}
#map-panorama-map{
	max-width:100%;
	max-height:100%;
}
#select-box{
	position:absolute;
	height:50px;
	width:50px;
	border:5px solid red;
}
.user-ego-small{
	position:absolute;

}
.user-friend-small{
	position:absolute;
}
.user-friend-small{
	position:absolute;

}
.user-ego-small img,.user-friend-small img,.user-friend-small img{
	max-width:10px;
	max-height:10px;
}